body {
    color: #F9FAf8;
    margin: 0;
}
button {
 flex: 0 0 0; 
 background-color: #3882F6;
 color: #F9FAf8;
 font-weight: bolder;
 border: none;
 border-radius: 6px;
 padding: 12px 24px;
 width: 120px;
}
a {
  text-decoration: none;
  color: #F9FAf8;

}
.awesome {
    font-size: 48px;
    font-weight: bolder;
}
.top {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-top: 20px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #1F2937;
}
.header {
    flex: 3;
    color: #F9FAf8;
    font-size: 18px;
    margin: 0;
}
.one {
    display: flex;
    background-color: #1F2937;
    justify-content: flex-start;
}
.dog {
    width: auto;
    height: 3in;
    margin: 100px;
}
.one-left {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 100px;
    flex-wrap: wrap;
}
