.container > * {
padding-left: 2in;
padding-right: 2in;
}
body {
    color: #F9FAf8;
    margin: 0;
}
* {
    margin-left: auto;
    margin-right: auto;
}

.bun {
 flex: 0 0 0; 
 background-color: #3882F6;
 color: #F9FAf8;
 font-weight: bolder;
 border: none;
 border-radius: 6px;
 margin-left: 0;
 padding: 12px 24px;
 width: 120px;
}

p {
    color: #1F2937;
    filter: contrast(25%);
    font-weight:lighter;
    width: fit-content;
}

h2 {
    color: #F9FAf8;
    filter: contrast(60%);
}

a { /*removes link decorations*/
  text-decoration: none;
  color: #F9FAf8;

}
/*styles and formats the top bar*/
.top {
    display: flex;
    justify-content: center;
    gap: 28px;
    padding-top: 20px;
    padding-left: 48px;
    padding-right: 48px;
    background-color: #1F2937;
}
    .header {
        flex: 3;
        color: #F9FAf8;
        font-size: 18px;
        margin: 0;
    }

/*styles and formats title section of page*/
    .one {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
}

    .one-left {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 100px;
        flex-wrap: wrap;
        align-items: flex-start;
    }
    /*This website is awesome*/
    .awesome { 
        font-size: 48px;
        font-weight: bolder;
    }
    /* Sets contrast on subheader in section .one */
    .suber {
        font-size: 18px;
        font-weight: lighter;
        filter: contrast(70%);
        width: 4in;
    }
    .dog {
        width: auto;
        height: 3in;
        margin: 100px;
    }

    /*Second segment*/
.random {
    color: #1F2937;
    font-size: 36px;
    font-weight: bold;
    margin-top: 46px;
    margin-bottom: 46px;
    width: fit-content;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
}
    .box{}
        .box > img {
            width: 1.5in;
            height: auto; 
            border: 2px solid #3882F6;
            border-radius: 6px;
        }
.three {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .quote {
       /* style */
        color: #1F2937;
        font-style: italic;
        font-size: 36px;
        font-weight: lighter;
        /*alignment*/
       flex: 1;
        width: 6in;
        height: fit-content;
        display: inline;
        margin-top: 1in;
    }

    .quote > .love {
        color: rgb(80, 8, 80);
        font-weight: bold;
        width: fit-content;
    }
    .three > .credit {
        width: fit-content;
        margin-right: 1in;
        margin-top: 0;
        flex: 1;
    }

.bluebox {
    background-color: #3882F6;
    border-radius: 5px;
    height: 1.5in;
    /* alignment */
    display: flex;
    align-items: center;
    padding-left: 1in;
    padding-right: 1in;
}
.action {
    color: #F9FAf8;
    font-size: 28px;
    font-weight: bold;
    flex: 3;
}
.action > .actionsub {
    color: #F9FAf8;
    filter: contrast(85%);
    font-size: 16px;
    font-weight: normal;
}
.signup {
    /* style */
    background-color: #3882F6;
    color: #F9FAf8;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #F9FAf8;
    border-radius: 6px;
    /* alignment & sizing */
    padding: 6px;
    padding-left: 20px;
    padding-right: 20px;
    
}

.footer {
    background-color: #1F2937;
    padding: 24px;   
}
.footertext {
    font-size: 18px;
    height: fit-content;
    width: fit-content;
   
}
    
.one {
height: fit-content;
padding-top: 1in;
padding-bottom: 1in;
}

.two {
    height: fit-content;
    padding-top: 1in;
    padding-bottom: 1in;
}

.three {
height: fit-content;
padding-top: 1in;
padding-bottom: 1in;
}

.four {
    height: fit-content;
    padding-top: 1in;
    padding-bottom: 1in;
}


